# Data Cleaning and Preperation

### Importing the Data and Creating a Data Frame

The fields of each record are characteristics of a graded section indicated by the security grade map seen above. These fields have been transcribed and stored in a __comma separated value (csv)__ format.

Using the pandas library, we can create a data frame from the csv. A __data frame__ is a table where every row represents a single unique object, called an __entity__, and every column represents characteristics of these objects, called __attributes__.

In [1]:
# loads the pandas library 
import pandas as pd

# creates data frame named df by reading in the Baltimore csv
df = pd.read_csv("AD_Data_BaltimoreProject.csv")
df.head(n=3)

,Form,State,City,Security_Grade,Area_Number,Terrain_Description,Favorable_Influences,Detrimental_Influences,INHABITANTS_Type,INHABITANTS_Annual_Income,...,INHABITANTS_Population_Increase,INHABITANTS_Population_Decrease,INHABITANTS_Population_Static,BUILDINGS_Types,BUILDINGS_Construction,BUILDINGS_Age,BUILDINGS_Repair,Ten_Fifteen_Desirability,Remarks,Date
0,NS FORM-8 6-1-37,Maryland,Baltimore,A,2,Rolling,Fairly new suburban area of homogeneous charac...,None,Substantial Middle Class,"$3000 - 5,000",...,Fast,NaN,NaN,Detached an row houses,Brick and frame,1 to 10 years,Good,Upward,A recent development with much room for expans...,"May 4,1937"
1,NS FORM-8 6-1-37,Maryland,Baltimore,A,1,Undulating,Very nicely planned residential area of medium...,None,"Executives, Professional Men",over $5000,...,Moderately Fast,NaN,NaN,Single family detached,Brick and Stone,12 years,Very good,Upward,Mostly fee properties. A few homes valued at $...,"May 4,1937"
2,NS FORM-8 6-1-37,Maryland,Baltimore,A,3,Rolling,Good residential area. Well planned.,Distance to City,"Executives, Professional Men",3500 - 7000,...,Moderately Fast,NaN,NaN,One family detached,"Brick, Stone, and Frame",1 to 20 years,Good to excellent,Upward,Principally fee property. This section lies in...,"May 4,1937"

After obtaining our data, we need to clean it to prepare for data analysis. This includes handling similiar text values and making sure a column of interest contains a single attribute.

### Handling Text Values with Similar Meanings

The `INHABITANTS_Foreignborn` varaible indicates whether there are foreigners in a neighborhood section. Observe that different forms used 'No' or 'None' to indicate there are no foreigners and 'Small' , 'Very few' , and 'Mixture' are various ways of indicating there were foreigners. `NaN` indicates the value in the form is missing.

In [2]:
# selects rows with indices between 0 to 15 included of the 'INHABITANTS_Foreignborn' column
df.ix[0:15,'INHABITANTS_Foreignborn']

0           No
1         None
2         None
3         None
4         None
5          NaN
6           No
7           No
8           No
9        Small
10    Very few
11          No
12          No
13          No
14          No
15     Mixture
Name: INHABITANTS_Foreignborn, dtype: object

Since columns with categorized values are easier to analyze, we are going to transform this column to indicate whether there are foreigners or not. In Python, `None` is a special keyword that indicates the cell has a null value. Therefore, we will alter all the 'None' values to 'No' and every other value that indicates there are to 'Yes'.

In [3]:
# replaces the values of 'None' with 'No'
df['INHABITANTS_Foreignborn'] = df['INHABITANTS_Foreignborn'].replace('None', 'No')

# replaces all other values with 'Yes'
for value in df['INHABITANTS_Foreignborn']:
    if value != 'No' and value != 'NaN':
        df['INHABITANTS_Foreignborn'] = df['INHABITANTS_Foreignborn'].replace(value, 'Yes')

df.ix[0:15,'INHABITANTS_Foreignborn']

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7      No
8      No
9     Yes
10    Yes
11     No
12     No
13     No
14     No
15    Yes
Name: INHABITANTS_Foreignborn, dtype: object

`Detrimental_Influences`  are descriptions of a region's undesiriable characteristics. Notice in this case that there are multiple variations of the meaning of 'No' to be replaced.

In [4]:
df.ix[0:15,'Detrimental_Influences']

0                                          None
1                                          None
2                              Distance to City
3                                          None
4                                          None
5                                           NaN
6                                           No.
7                                          None
8     Few streets of property in poor condition
9                                          None
10                                         None
11                      Built on filled ground.
12                                         None
13                                         None
14                   Distance to center of city
15                                         None
Name: Detrimental_Influences, dtype: object

To handle the multiple words to be replaced we can use an __array__, a list that holds a fixed number of values of the same type, to store several strings. Then we can replace each occurence in `Detrimental_Influences` by iterating through the array and using the `replace()` function.

In [5]:
# declares an array called 'no_words' containing strings that all mean 'No'
no_words = ['No.','no', 'none', 'None']

# interates through no_words and replaces each occurence in Detrimental_Influences
for word in no_words:
    df['Detrimental_Influences'] = df['Detrimental_Influences'].replace( word , 'No')

In [6]:
df.ix[0:15,'Detrimental_Influences']

0                                            No
1                                            No
2                              Distance to City
3                                            No
4                                            No
5                                           NaN
6                                            No
7                                            No
8     Few streets of property in poor condition
9                                            No
10                                           No
11                      Built on filled ground.
12                                           No
13                                           No
14                   Distance to center of city
15                                           No
Name: Detrimental_Influences, dtype: object

We need to do these same operations for `INHABITANTS_Negro`, whether residents are African American, and `INHABITANTS_Infiltration`, which refers to if the area is being infiltrated. __Functions__ are procedures that perform specific tasks. In Python, we can create our own functions or used built-in functions such as `replace()`. __Parameters__ are variables that are defined in the function definition. __Arguments__ are the values passed into a function.

The `replace_values` function has three parmeters : `attribute`, `new_word`, and `words_to_replace`.

In [7]:
# this function iterates through an array of words to be replaced and replaces each occurence in the attribute 
# with the new word
def replace_values(attribute, new_word, words_to_replace):
    for word in words_to_replace:
        df[attribute] = df[attribute].replace(word, new_word) 


replace_values('INHABITANTS_Negro', 'No', no_words)
replace_values('INHABITANTS_Infiltration', 'No', no_words)

In [8]:
df.ix[0:15,'INHABITANTS_Infiltration']

0                  No
1                  No
2                  No
3                  No
4                  No
5                 NaN
6                  No
7                  No
8                  No
9                 NaN
10                 No
11                 No
12                 No
13                 No
14                 No
15    People from C-1
Name: INHABITANTS_Infiltration, dtype: object

Note that we do the same procedure for words meaning 'few', however we could have made these columns have two categories, 'yes' or 'no', and indicate in our data analysis the alterations to our data.

In [9]:
# Various words meaning small 
small_words = ['Nominal','nominal', 'Small','small','Minimum', 'minimum','minimal', 'Very few']

replace_values('INHABITANTS_Negro', 'Few', small_words)
replace_values('INHABITANTS_Infiltration', 'Few', small_words)

In [10]:
df.ix[0:15,'INHABITANTS_Infiltration']

0                  No
1                  No
2                  No
3                  No
4                  No
5                 NaN
6                  No
7                  No
8                  No
9                 NaN
10                 No
11                 No
12                 No
13                 No
14                 No
15    People from C-1
Name: INHABITANTS_Infiltration, dtype: object

In [11]:
df.ix[0:15,'INHABITANTS_Negro']

0      No
1      No
2      No
3      No
4      No
5     NaN
6      No
7      No
8      No
9      No
10     No
11     No
12     No
13     No
14     No
15     No
Name: INHABITANTS_Negro, dtype: object

We can clean up the values of `INHABITANTS_Population_Increase`, how the population is increasing in an area, by choosing standard categories for the rate the population.

In [12]:
 df.ix[0:15,'INHABITANTS_Population_Increase']

0               Fast
1     Moderately Fast
2     Moderately Fast
3              Slowly
4     Moderately Fast
5                 NaN
6                 NaN
7              Slowly
8     Moderately Fast
9     Moderately Fast
10                NaN
11             Slowly
12             Slowly
13         Moderately
14             Slowly
15              Fast
Name: INHABITANTS_Population_Increase, dtype: object

We will define rates of the population as very slowly, slowly, moderately, moderately fast, fast based on the data.

In [14]:
# defines values to replace in the table 
very_slowly = ['Very Slowly', 'very slowly', 'very Slowly']
slowly = ['slowly', 'fairly slowly']
moderately = ['moderately']
moderately_fast = ['Moderately Fast', 'moderately Fast', 'moderately fast']
fast = ['very fast', 'Very Fast', 'fast']

# applies function to obtain our new values 
replace_values('INHABITANTS_Population_Increase', 'Very slowly', very_slowly)
replace_values('INHABITANTS_Population_Increase', 'Slowly', slowly)
replace_values('INHABITANTS_Population_Increase', 'Moderately', moderately )
replace_values('INHABITANTS_Population_Increase', 'Moderately fast', moderately_fast)
replace_values('INHABITANTS_Population_Increase', 'Moderately fast', moderately_fast)
replace_values('INHABITANTS_Population_Increase', 'Fast', fast)

In [15]:
 df.ix[0:15,'INHABITANTS_Population_Increase']

0               Fast
1     Moderately fast
2     Moderately fast
3              Slowly
4     Moderately fast
5                 NaN
6                 NaN
7              Slowly
8     Moderately fast
9     Moderately fast
10                NaN
11             Slowly
12             Slowly
13         Moderately
14             Slowly
15              Fast
Name: INHABITANTS_Population_Increase, dtype: object

### String Parsing to Extract Data

Some of the cities have corresponding suburbs followed by a dash. We can extract the suburbs and create a new column using  `str.split()`.

In [16]:
df.ix[16:30,'City']

16                                Baltimore
17                       Baltimore - Dundalk
18                                 Baltimore
19                  Baltimore - Metropolitan
20                                 Baltimore
21                  Baltimore - Metropolitan
22                                 Baltimore
23                   Baltimore - Sub. Burton
24    Baltimore - Sub. Mt. Washington Summit
25                Baltimore - Sub. Villahove
26            Baltimore - Sub. Colonial Park
27        Baltimore - Sub. Linthicum Heights
28                                 Baltimore
29                                 Baltimore
30                                 Baltimore
Name: City, dtype: object

 A new data frame seperate is created with two columns seperated based on `str.split`, where `n=1` indicates the string is split once. We create two new attributes in the original data frame, `City_clean` and `Suburb`. Then we drop the old `City` city column and rename our new `City` attribute.

In [19]:
# creates a new data frame that splits the values in the orginal data frame on the '-' character 
newdf = df["City"].str.split('-', n = 1, expand = True) 
newdf.head()

# creates two new columns 
df['City_clean'] = newdf[0]
df['Suburb'] = newdf[1]

# removes the old column
df.drop(["City"], axis = 1, inplace = True) 

# renames as 'City'
df.rename(index=str, columns={"City_clean": "City"});

In [20]:
df.ix[16:30,['Suburb']]

                         Suburb
16                         None
17                      Dundalk
18                         None
19                 Metropolitan
20                         None
21                 Metropolitan
22                         None
23                  Sub. Burton
24   Sub. Mt. Washington Summit
25               Sub. Villahove
26           Sub. Colonial Park
27       Sub. Linthicum Heights
28                         None
29                         None
30                         None

The `BUILDINGS_Age` attribute represents the range of the age of the buildings in a region. Notice the range is given is given as a string of text. For purpose of analysis, we would like to extract the upper end of the range and create a column of numeric values.

In [18]:
df.ix[0:15,'BUILDINGS_Age']

0      1 to 10 years
1           12 years
2      1 to 20 years
3           10 years
4      1 to 20 years
5                NaN
6           25 years
7     15 to 25 years
8           15 years
9      5 to 25 years
10          20 years
11     5 to 10 years
12          10 years
13          25 years
14     1 to 20 years
15     6 to 25 years
Name: BUILDINGS_Age, dtype: object

Observe that the numeric value at the end of the range is always the last number followed by the string `years`. We use specific string patterns called __regular expressions (regex)__ and `str.extract()` to create a new attribute called `max_building_age`.

In [23]:
df['max_building_age'] = df['BUILDINGS_Age'].str.extract('(\d+)(?!.*\d)', expand=True)

The regular expression in this example is `(\d+)(?!.*\d)` and was tested using [Pythex](https://pythex.org/), a regex editor. We could have imported `re` , Python's regular expression library, to perform the same task, however this notebook consistenly uses `str()` functions.

In [24]:
df.ix[0:15,['BUILDINGS_Age','max_building_age']]

     BUILDINGS_Age max_building_age
0    1 to 10 years               10
1         12 years               12
2    1 to 20 years               20
3         10 years               10
4    1 to 20 years               20
5              NaN              NaN
6         25 years               25
7   15 to 25 years               25
8         15 years               15
9    5 to 25 years               25
10        20 years               20
11   5 to 10 years               10
12        10 years               10
13        25 years               25
14   1 to 20 years               20
15   6 to 25 years               25

The `Date`, the date indicated on the form, has three attributes with the pattern given by **month day, year**. As previously stated, we would like to have a single attribute per column.

In [25]:
df.ix[0:3,['Date']]

         Date
0  May 4,1937
1  May 4,1937
2  May 4,1937
3  May 4,1937

We can seperate this column into three columns:  `Month`, `Day`, and `Year` using `str.extract()` and regex patterns
`(\d\d\d\d)` to indicate four digit year, `(\d)` to indicate a single digit day, and ` [A-Z]\w{0,}` to indicate __aplhanumeric__ text to extract the month. Note that regex can also be used to reformat the date column.

In [26]:
# extracts the year 
df['Year'] = df['Date'].str.extract('(\d\d\d\d)', expand=True)

# extracts day  
df['Day'] = df['Date'].str.extract('(\d)', expand=True)

# extracts month 
df['Month'] = df['Date'].str.extract('([A-Z]\w{0,})', expand=True)

df.ix[0:3,['Date','Month','Day','Year']]

         Date Month Day  Year
0  May 4,1937   May   4  1937
1  May 4,1937   May   4  1937
2  May 4,1937   May   4  1937
3  May 4,1937   May   4  1937

Similar to `BUILDINGS_Age`, `INHABITANTS_Annual_Income`, the range of income of residents in a section, is a string of text and we would like to extract the numeric value at the end of the range.

In [27]:
df.ix[0:7,['INHABITANTS_Annual_Income']]

  INHABITANTS_Annual_Income
0             $3000 - 5,000
1                over $5000
2               3500 - 7000
3                over $5000
4          $3,500 - $10,000
5                       NaN
6                over $4000
7                over $5000

Observe that some values are located after '$', some inlcude '-', and others include ','.Since the pattern to extract the last numeric value varies, we use `str.replace()`, `str.extract`, and regex in a sequence of operations to create a new column `max_annual_income`.

In [28]:
# replaces anything that is not a digit or ',' with empty space
df['max_annual_income'] = df['INHABITANTS_Annual_Income'].str.replace('[^\d(,)]',' ')

In [29]:
df.ix[0:7,['max_annual_income']]

  max_annual_income
0      3000   5,000
1              5000
2       3500   7000
3              5000
4   3,500    10,000
5               NaN
6              4000
7              5000

We did not include the delimeter in the previous `str.replace()` operation because their positions would have been replaced by an empty space. Now we want to remove delimeters.

In [30]:
# removes delimeter by replacing ',' with ''
df['max_annual_income'] = df['max_annual_income'].str.replace('[(,)]','')

In [31]:
df.ix[0:7,['max_annual_income']]

  max_annual_income
0       3000   5000
1              5000
2       3500   7000
3              5000
4     3500    10000
5               NaN
6              4000
7              5000

Finally, we can extract the last number.

In [33]:
# extracts the second or last number 
df['max_annual_income'] = df['max_annual_income'].str.extract('(\d+)(?!.*\d)', expand=True)

In [34]:
df.ix[0:7,['max_annual_income']]

  max_annual_income
0              5000
1              5000
2              7000
3              5000
4             10000
5               NaN
6              4000
7              5000

__How can we create new attribute called `median income`? View the solution here.__

## DataFrame to CSV

In [47]:
df.to_csv(r'clean_baltimore_data.csv')

In [48]:
clean_df = pd.read_csv("clean_baltimore_data.csv")
clean_df

,Unnamed: 0,Form,State,Security_Grade,Area_Number,Terrain_Description,Favorable_Influences,Detrimental_Influences,INHABITANTS_Type,INHABITANTS_Annual_Income,...,Ten_Fifteen_Desirability,Remarks,Date,City_clean,Suburb,max_building_age,Year,Day,Month,max_annual_income
0,0,NS FORM-8 6-1-37,Maryland,A,2,Rolling,Fairly new suburban area of homogeneous charac...,No,Substantial Middle Class,"$3000 - 5,000",...,Upward,A recent development with much room for expans...,"May 4,1937",Baltimore,NaN,10.0,1937.0,4.0,May,5000.0
1,1,NS FORM-8 6-1-37,Maryland,A,1,Undulating,Very nicely planned residential area of medium...,No,"Executives, Professional Men",over $5000,...,Upward,Mostly fee properties. A few homes valued at $...,"May 4,1937",Baltimore,NaN,12.0,1937.0,4.0,May,5000.0
2,2,NS FORM-8 6-1-37,Maryland,A,3,Rolling,Good residential area. Well planned.,Distance to City,"Executives, Professional Men",3500 - 7000,...,Upward,Principally fee property. This section lies in...,"May 4,1937",Baltimore,NaN,20.0,1937.0,4.0,May,7000.0
3,3,NS FORM-8 6-1-37,Maryland,A,4,Level,Well planned development of fairly,No,Professional and Executives,over $5000,...,Upward,All fee property,"May 4,1937",Baltimore,NaN,10.0,1937.0,4.0,May,5000.0
4,4,NS FORM-8 6-1-37,Maryland,A,5,Undulating,"Desirable residential section. Good quality, m...",No,"Executives, Professional Men","$3,500 - $10,000",...,Upward,Merridale only recently developed. Prices do n...,NaN,Baltimore,NaN,20.0,NaN,NaN,NaN,10000.0
5,5,NS FORM-8 6-1-37,Maryland,A,6,Rolling,To be developed as high grade development,NaN,NaN,NaN,...,NaN,Owned and controlled by the Roland Park Compan...,NaN,Baltimore,Northwood,NaN,NaN,NaN,NaN,NaN
6,6,NS FORM-8 6-1-37,Maryland,B,1,Rolling to hilly,Desirable old residential section. Principally...,No,"Executives, Professional Men",over $4000,...,Static,This section was completely built up in 1921. ...,NaN,Baltimore,NaN,25.0,NaN,NaN,NaN,4000.0
7,7,NS FORM-8 6-1-37,Maryland,B,2,Rolling to hilly,"Restricted, desirable residential section of m...",No,"Executives, Professional Men",over $5000,...,Static to upward,Principally fee property.,"May 4,1937",Baltimore,NaN,25.0,1937.0,4.0,May,5000.0
8,8,NS FORM-8 6-1-37,Maryland,B,3,High level,Good residential section of fast moving property.,Few streets of property in poor condition,Business Men,$3000 and up,...,Static to upward,Section is very spotty with poor houses lying ...,"May 4,1937",Baltimore,NaN,15.0,1937.0,4.0,May,3000.0
9,9,NS FORM-8 6-1-37,Maryland,B,4,Rolling to level,Good suburban residential area of modest homes...,No,Business people,$2500 to $4000,...,Static to upward,Ground rent range $90 to $120. Part of the sec...,"May 4,1937",Baltimore,NaN,25.0,1937.0,4.0,May,4000.0
10,10,NS FORM-8 6-1-37,Maryland,B,5,Undulating,Good residential section of homogeneous charac...,No,White collar class,$2500 to $3500,...,Static,Ground rents $90 to $120. Principally $90.,"May 4,1937",Baltimore,NaN,20.0,1937.0,4.0,May,3500.0
11,11,NS FORM-8 6-1-37,Maryland,B,6,Rolling,Near Druid Hill Park. Close to center of city.,Built on filled ground.,White collar class,"$3,000",...,Static to upward,Three story houses on Reisterstown Road are 25...,"May 4,1937",Baltimore,NaN,10.0,1937.0,4.0,May,3000.0
12,12,NS FORM-8 6-1-37,Maryland,B,7,High level,Stable residential section of modest homes.,No,Mechanics,$2000 to $2500,...,Static,Ground rents $60 to $90. Predominating $84. Fa...,"May 4,1937",Baltimore,NaN,10.0,1937.0,4.0,May,2500.0
13,13,NS FORM-8 6-1-37,Maryland,B,8,Rolling,Good residential area holding up in value,No,Middle class,$2500 to $3500,...,Static to upward,Ground rents $72 to $120. Ground rents in Ceda...,"May 4,1937",Baltimore,NaN,25.0,1937.0,4.0,May,3500.0
14,14,NS FORM-8 6-1-37,Maryland,B,9,Undulating,Fairly good residential section with all conve...,Distance to center of city,Middle class,$2500 to $3500,...,Static,This section lies in Baltimore County just out...,"May 4,1937",Baltimore,Metropolitan Area,20.0,1937.0,4.0,May,3500.0
15,15,NS FORM-8 6-1-37,Maryland,B,10,Rolling high,"Desirable residential section, homogeneous as ...",No,Skilled mechanics and Junior Executives,$2000 to $4000,...,Static to upward,Considered the best lending section in the cit...,"May 4,1937",Baltimore,NaN,25.0,1937.0,4.0,May,4000.0
16,16,NS FORM-8 6-1-37,Maryland,B,11,Rolling,Homogeneous development. Near to parks. Transp...,No,White collar class,$2000 to $3000,...,Upward,Ground rents range from $72 to $95. Predominat...,"May 4,1937",Baltimore,NaN,12.0,1937.0,4.0,May,3000.0
17,17,NS FORM-8 6-1-37,Maryland,B,12,Flat,Near to Sparrows Point. Desirable residential ...,Distances to commercial area. Narrow streets.,Officers of Plants (industrial),"$2,500",...,Upward if steel mills operate,Very few Ground Rents in Dundalk. This section...,"May 4,1937",Baltimore,Dundalk,20.0,1937.0,4.0,May,2500.0
18,18,NS FORM-8 6-1-37,Maryland,B,14,Level,Quiet suburban section of homogeneous character,No,White collar class,$3000 and up,...,Static to upward,Principally fee property. Few ground rents $120,"May 4,1937",Baltimore,NaN,20.0,1937.0,4.0,May,3000.0
19,19,NS FORM-8 6-1-37,Maryland,B,15,NaN,Outlying quiet suburban section.,None except distances to center of city.,Business men,$3000 to $4000,...,Static to upward,Outside Baltimore City limits. A few larger ho...,"May 4,1937",Baltimore,Metropolitan,25.0,1937.0,4.0,May,4000.0
20,20,NS FORM-8 6-1-37,Maryland,B,16,High level,Stable old residential section of good character.,No,Business people,$3000 to $5000,...,Static,Many high-grade apartments are located along C...,"May 4,1937",Baltimore,NaN,35.0,1937.0,4.0,May,5000.0
21,21,NS FORM-8 6-1-37,Maryland,B,17,Level,Outlying quiet suburban section. County east o...,No,Business men,$2000 to $10000,...,Static to upward,Principally fee property,"May 4,1937",Baltimore,Metropolitan,25.0,1937.0,4.0,May,10000.0
22,22,NS FORM-8 6-1-37,Maryland,B,18,Rolling,Very high. Fairly new residential section of h...,No,White collar class,$2000 to $3000,...,Static to upward,Ground Rents range from $72 to $96. Predominat...,"May 4,1937",Baltimore,NaN,15.0,1937.0,4.0,May,3000.0
23,23,NS FORM-8 6-1-37,Maryland,B,19,Rolling to hilly,Desirable residential section of very good cha...,Distance to center of city,White collar class,$3000 and up,...,Static to possibly upward,Average held at $2000 to $2500 per acre. A spa...,"May 4,1937",Baltimore,Sub. Burton,25.0,1937.0,4.0,May,3000.0
24,24,NS FORM-8 6-1-37,Maryland,B,20,NaN,Suburban atmosphere. Desirable residential sec...,Distance to center of city,White collar class,$2000 to $4000,...,NaN,A sparsely settled section of modest homes. Pr...,NaN,Baltimore,Sub. Mt. Washington Summit,40.0,NaN,NaN,NaN,4000.0
25,25,NS FORM-8 6-1-37,Maryland,B,21,Rolling,A fairly new development of single homes in de...,Distance to center of city,White collar class,NaN,...,NaN,This section has not taken the public's fancy ...,NaN,Baltimore,Sub. Villahove,NaN,NaN,NaN,NaN,NaN
26,26,NS FORM-8 6-1-37,Maryland,B,22,NaN,The natural section for expansion from Liberty...,NaN,NaN,NaN,...,NaN,"Still very sparsely settled, but may be expect...",NaN,Baltimore,Sub. Colonial Park,NaN,NaN,NaN,NaN,NaN
27,27,NS FORM-8 6-1-37,Maryland,B,23,NaN,Desirable residential section of good characte...,Distance to center of city,NaN,NaN,...,NaN,NaN,NaN,Baltimore,Sub. Linthicum Heights,NaN,NaN,NaN,NaN,NaN
28,28,NS FORM-8 6-1-37,Maryland,C,7,Rolling,Close to commercial area. Fairly desirable res...,Old style architecture. Heavy obsolescence,"Clerks, mechanics",$1500 to $2500,...,Downward,Ground rents range from $50 to $50. Average $5...,"May 4,1937",Baltimore,NaN,50.0,1937.0,4.0,May,2500.0
29,29,NS FORM-8 6-1-37,Maryland,C,8,"High, level",Stable residential area of modest houses.,No,"Business men, clerks",$1500 to $3000,...,Static,Ground rent range $60 to $90. This section has...,"May 4,1937",Baltimore,NaN,20.0,1937.0,4.0,May,3000.0
30,30,NS FORM-8 6-1-37,Maryland,C,9,Level,Conversion value of location for business purp...,Heavy traffic and disadvantage of commerce exc...,"White collar class, clerks","$2,500",...,"Downward as residential, upward for commerce",Ground rents $72 to $120. Average $90,"May 4,1937",Baltimore,NaN,35.0,1937.0,4.0,May,2500.0
31,31,NS FORM-8 6-1-37,Maryland,C,10,Rolling,Outlying residential section of small modest h...,Bad location. Principally poor transportation,"Clerks, mechanics","$2,000",...,Downward,Ground rent range $72 to $90. Predominating. ...,"May 4,1937",Baltimore,NaN,15.0,1937.0,4.0,May,2000.0
32,32,NS FORM-8 6-1-37,Maryland,C,11,Rolling to hilly,None,Heavy traffic through section,"Mixture, laboring class","$1,200",...,Static,Ground rents range $43 to $72. Average $60. Ve...,"May 4,1937",Baltimore,NaN,20.0,1937.0,4.0,May,1200.0
33,33,NS FORM-8 6-1-37,Maryland,C,12,Rolling,Proximity to industrial plants.,NaN,Industrial employees,"$1,200",...,Static,Ground rents $30 to $75. Predominating $60,"May 4,1937",Baltimore,NaN,25.0,1937.0,4.0,May,1200.0
34,34,NS FORM-8 6-1-37,Maryland,C,13,Rolling,Old residential section of modest character in...,Heavy obsolescence of property,"Skilled mechanics, clerks","$1,800",...,Static to downward.,Ground rent range $42 to $90. Predominating $6...,"May 4,1937",Baltimore,NaN,60.0,1937.0,4.0,May,1800.0
35,35,NS FORM-8 6-1-37,Maryland,C,14,NaN,Fairly good residential section of modest homes,No,White collar class,"$2,500",...,Static to upward,Ground rent range $72 to $95. Predominating $90,"May 4,1937",Baltimore,NaN,15.0,1937.0,4.0,May,2500.0
36,36,NS FORM-8 6-1-37,Maryland,C,1,Level to undulating,Proximity to Patterson Park. Near to industria...,Substantial age and disadvantages of industry ...,Skilled labor,"$1,500",...,Static to downward.,This entire area is populated principally by p...,"May 4,1937",Baltimore,NaN,45.0,1937.0,4.0,May,1500.0
37,37,NS FORM-8 6-1-37,Maryland,C,2,Flat,"Near to employment, particularly Sparrows Point",Distance to center of city. Smoke and noise fr...,Industrial workers,"$1,200",...,Static to downward.,Demand is expected to increase because of expa...,"May 4,1937",Baltimore,NaN,15.0,1937.0,4.0,May,1200.0
38,38,NS FORM-8 6-1-37,Maryland,C,3,High rolling,Fairly desirable residential area of rather ol...,Old style architecture,"Skilled mechanics, clerks","$1,500",...,Static,Ground rents range from $48 to $75 and average...,"May 4,1937",Baltimore,NaN,40.0,1937.0,4.0,May,1500.0
39,39,NS FORM-8 6-1-37,Maryland,C,4,"High, level",Close to commercial area. Goucher college loca...,Industrial plants. Continuing obsolescence of ...,Mixture,"$2,000",...,Static,Ground rents range from $75 to $150 and averag...,"May 4,1937",Baltimore,NaN,35.0,1937.0,4.0,May,2000.0
40,40,NS FORM-8 6-1-37,Maryland,C,5,"High, level",Proximity to Druid Hill Park.,Obsolescence and negro encroachment. Ground re...,"Mixture, Jewish","$2,500",...,Static,Houses are being converted into apartment unit...,"May 4,1937",Baltimore,NaN,50.0,1937.0,4.0,May,2500.0
41,41,NS FORM-8 6-1-37,Maryland,C,6,"High, level",Close to commercial area,Continuing obsolescence of old style houses.,"Mechanics, clerks","$1,500",...,Downward,Ground rent $50 to $75 average $60. No immedia...,"May 4,1937",Baltimore,NaN,50.0,1937.0,4.0,May,1500.0
42,42,NS FORM-8 6-1-37,Maryland,C,15,NaN,NaN,A mediocre section of cheap construction,"Mechanics, clerks",$1500 to $2500,...,NaN,Very sparsely settled section,NaN,Baltimore,Sub.,NaN,NaN,NaN,NaN,2500.0
43,43,NS FORM-8 6-1-37,Maryland,C,16,NaN,Fairly good location,Cheap construction,NaN,NaN,...,NaN,The section never seemed to go over very well ...,NaN,Baltimore,Sub. Catonsville Heights,NaN,NaN,NaN,NaN,NaN
44,44,NS FORM-8 6-1-37,Maryland,C,17,Level,Fairly desirable section of modest houses,Distance to center of city,"Clerks, skilled mechanics",$1500 to $2500,...,NaN,A rather presentable section of modest homes. ...,NaN,Baltimore,Sub. Arbutus Terrace,30.0,NaN,NaN,NaN,2500.0
45,45,NS FORM-8 6-1-37,Maryland,C,18,High rolling,On Washington-Baltimore Pike,Loss of RR from the section,Skilled labor clerks,NaN,...,NaN,Some utilities are lacking . Principally fee p...,NaN,Baltimore,Sub. Holethorpe,NaN,NaN,NaN,NaN,NaN
46,46,NS FORM-8 6-1-37,Maryland,C,19,NaN,Suburban atmosphere,NaN,Skilled labor clerks,$1000 to $2000,...,NaN,A sparsely settled section of fair character. ...,NaN,Baltimore,Sub. Lansdowne,NaN,NaN,NaN,NaN,2000.0
47,47,NS FORM-8 6-1-37,Maryland,C,20,NaN,Similar in general character to Lansdowns (C-19),NaN,NaN,NaN,...,NaN,Principally fee property,"May 4,1937",Baltimore,Sub. Baltimore Highlands,NaN,1937.0,4.0,May,NaN
48,48,NS FORM-8 6-1-37,Maryland,C,21,NaN,Similar in character to Lansdowne except furth...,NaN,NaN,NaN,...,NaN,Principally fee property,"May 4,1937",Baltimore,Sub. North Linthicum,NaN,1937.0,4.0,May,NaN
49,49,NS FORM-8 6-1-37,Maryland,C,22,NaN,Similar in character to Lansdowne (C-19),NaN,NaN,NaN,...,NaN,NaN,NaN,Baltimore,Sub.,NaN,NaN,NaN,NaN,NaN
50,50,NS FORM-8 6-1-37,Maryland,D,1,Level to undulating,"Proximity to employment, industrial and commer...",Heavy concentration of foreigners. Property is...,Laborers,"$1,000",...,Downward,Ground rents in this section range from $36 to...,"May 4,1937",Baltimore,NaN,65.0,1937.0,4.0,May,1000.0
51,51,NS FORM-8 6-1-37,Maryland,D,2,Undulating,Close to industrial employment.,Mixture of foreign born. Disadvantage of indus...,Mixture,"$1,000",...,Downward,Area become worse south of Eastern Avenue. Gro...,"May 4,1937",Baltimore,NaN,60.0,1937.0,4.0,May,1000.0
52,52,NS FORM-8 6-1-37,Maryland,D,4,Rolling,Good transportation. Central location.,Obsolescence. Negro concentration. Excessive G...,Mixture,"$1,000",...,Downward,Ground rents range from $42 to $120. Predomina...,"May 4,1937",Baltimore,NaN,50.0,1937.0,4.0,May,1000.0
53,53,NS FORM-8 6-1-37,Maryland,D,5,"Low, level",Central location. Near employment.,Heavy obsolescence. Industrial encroachment.,Laborers,$700 to $1000,...,Downward,Ground rents in this section range from $30 to...,"May 4,1937",Baltimore,NaN,60.0,1937.0,4.0,May,1000.0
54,54,NS FORM-8 6-1-37,Maryland,D,6,Level,Near desirable properties.,Houses in very bad condition. Many alley prope...,Laborers,$700 to $1000,...,Downward,Ground rents range $30 to $60. Predominating $...,"May 4,1937",Baltimore,NaN,35.0,1937.0,4.0,May,1000.0
55,55,NS FORM-8 6-1-37,Maryland,D,8,Rolling,Central locations. Conversion to business.,Interspersed with b business. Entire ward zone...,Mixture,NaN,...,Downward,Valuations down do not include homes on Monume...,"May 4,1937",Baltimore,NaN,60.0,1937.0,4.0,May,NaN
56,56,NS FORM-8 6-1-37,Maryland,D,9,Level to undulating,Central location. Conversion value for busines...,Heavy obsolescence of residential property. Bu...,Mixture,NaN,...,Residential downward; commercial upward,Most of this section comprises the commercial ...,"May 4,1937",Baltimore,NaN,60.0,1937.0,4.0,May,NaN

Continue to the data maipulation portion of this module [here](Data Manipulation.ipynb)